.callout {
  background-color: lighten($color_primary_light, 25);
  border: 1px solid $color_primary_light;
  padding: 1rem;
  border-radius: $border_radius;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  &-icon {
    margin-right: 1rem;
    color: $color_primary_dark;
  }
  &-description {
    line-height: 1.5rem;
    font-size: 0.9rem;
  }
}

.callout.info {
  background-color: lighten($color_primary_light, 25) !important;
  border: 1px solid $color_primary_light;
  .callout-icon {
    color: $color_primary_dark !important;
  }
}

.callout.error {
  background-color: lighten($color_error_light, 25) !important;
  border: 1px solid $color_error_light;
  .callout-icon {
    color: $color_error_dark !important;
  }
}

.callout.success {
  background-color: lighten($color_success_light, 25) !important;
  border: 1px solid $color_success_light;
  .callout-icon {
    color: $color_success_dark !important;
  }
}

.callout.warning {
  background-color: lighten($color_warning_light, 25) !important;
  border: 1px solid $color_warning_light;
  .callout-icon {
    color: $color_warning_dark !important;
  }
}
