@import "./styles/variables.scss";
@import "./styles/helpers.scss";
@import "./styles/callout.scss";

@import "./styles/pageInfo.scss";
@import "./styles/pagePaymentMethods.scss";

@import "./styles/loader.scss";
@import "./styles/phones.scss";

html,
body,
#root {
  height: 100%;
}

a {
  text-decoration: none;
  color: $color_primary_main;
  &:hover {
    color: $color_primary_dark;
  }
}

.pageWrapper {
  max-width: 450px;
  height: 100%;
  margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
}

label {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  width: 100%;
}

input {
  font-size: 1.2rem;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: $border_radius;
  padding: 1rem;
  background-color: $color_gray_light_5;
  outline: none;
  -webkit-appearance: none;
  color: $color_gray_dark_1;
  &:disabled {
    -webkit-text-fill-color: $color_gray_3;
    opacity: 1; /* required on iOS */
    color: $color_gray_3;
  }
}

input[type="text"] {
  box-shadow: $input-border;
  &:focus {
    transition: 0.3s;
    box-shadow: $input-border-focus;
  }
}

input[type="button"] {
  background-color: $color_primary_main;
  color: $text_color_white;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 1rem;
  border-radius: $border_radius;
  box-sizing: border-box;
  &:disabled {
    -webkit-text-fill-color: $text_color_white;
    color: $text_color_white;
    opacity: 0.5;
  }
  &:active {
    background-color: darken($color_primary_main, 3);
  }
  &:hover {
    background-color: darken($color_primary_main, 3);
  }
}

html {
  font-size: 14px;
  color: $text_color_main;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: $color_gray_light_5;
}

header {
  text-align: center;
  margin-bottom: 1rem;
  h1 {
    font-size: 1.1rem;
    text-transform: uppercase;
  }
}

footer {
  padding: 0 1rem;
}

.payment-another-method {
  margin-bottom: 1rem;
  text-align: center;
  color: $color_primary_main;
  &:hover {
    color: $color_primary_light;
  }
}

.box {
  padding: 1rem;
  background-color: $bg_light_color;
  box-shadow: $border-default;
  border-radius: $border_radius;
}

.money {
  font-size: 2rem;
}

.payment-methods-link {
  display: inline-block;
  margin: 1rem 0;
  color: $color_primary_main;
  text-decoration: none;
  font-size: 1.2rem;
  &:hover {
    color: $color_primary_light;
  }
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  &-input {
    margin-right: 0.5rem;
    flex-grow: 1;
  }
  &-amount {
    width: 60px;
    font-size: 1.2rem;
    font-weight: 500;
    flex-shrink: 0;
  }
}
